<h1>Editing goal</h1>

<% form_tag(:action => 'update', :id => @goal) do  %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @goal %> |
<%= link_to 'Back', :action => 'list' %>
