<%= error_messages_for 'newsletter' %>

<!--[form:newsletter]-->
<p><label for="newsletter_created_on">Created on</label><br/>
<%= date_select 'newsletter', 'created_on'  %></p>

<p><label for="newsletter_file">File</label><br/>
<%= text_field 'newsletter', 'file'  %></p>
<!--[eoform:newsletter]-->

