<% for column in Pledgeclass.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @pledgeclass.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @pledgeclass %> |
<%= link_to 'Back', :action => 'list' %>
