Hi, <%= @user.firstname %>!

Your AUAPO.org password has been reset at your request.  If you did not initiate this request, please  be aware that someone else has access to your account.

Your new login credentials are:

  login:    <%= @user.login %>
  password: <%= @user.password %>
 
<%= @url %>

LFS,

The Eta Phi Website