<% form_for :action => 'update' %>
<fieldset>
	<legend>Edit Your Eta Phi Account</legend>
	<p class="summary">All fields are required.</p>
    <%= render :partial => 'userForm' %>
 
</fieldset>
<% end %>