<%= error_messages_for 'goals' %>

<!--[form:goals]-->
<p><label for="goals_title">Title</label><br/>
<%= text_field 'goals', 'title'  %></p>

<p><label for="goals_number">Number</label><br/>
<%= text_field 'goals', 'number'  %></p>

<p><label for="goals_units">Units</label><br/>
<%= text_field 'goals', 'units'  %></p>
<!--[eoform:goals]-->

