<% for column in Goals.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @goals.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @goals %> |
<%= link_to 'Back', :action => 'list' %>
