<p id="footer"><strong>auapo.org</strong> | <a href="http://www.auapo.org/pages/show/7" title="read about this site.">about this site </a> | <a href="http://www.auapo.org/pages/show/8" title="privacy policy">privacy policy</a> | <a href="http://www.apo.org" title="link to the national website.">apo national </a></p>